body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #886e6e;
}

main {
  max-width: 500px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 8px 8px black;
  padding: 2rem;
  background-color: white;
}
.title {
  display: flex;
  margin-bottom: 1rem;
}
h1 {
  margin: 0 1rem 1rem 0;
}
h1::first-letter {
  display: block;
  background-color: #992d2d;
  color: orange;
  padding: 0 0.3rem;
  margin-right: 0.2rem;
  border-radius: 5px;
}

.scores {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.score-left,
.score-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.score-name {
  font-weight: 700;
  font-variant: small-caps;
  margin-bottom: 0.5rem;
}
.score {
  background-color: black;
  color: red;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  /* text-align: end; */
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  width: 120px;
  height: 50px;
  border: none;
  color: #d9d9d9;
  background-color: #992d2d;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 2px black;
}
button:hover {
  background-color: orange;
  color: #992d2d;
}

.result {
  min-height: 50px;
  display: flex;
  align-items: end;
  border-bottom: solid #992d2d;
  padding: 0 1rem 0.5rem;
  color: #191919;
  font-weight: 700;
}
